<ul class="publication-list">
{% for pub in site.publications reversed %}
    <li class="publication-item">
        <div class="publication-line">
            <span class="publication-list-author">{{ pub.author }}</span>,
            "<span class="publication-list-title">{{ pub.title }}</span>,"
            {% case pub.kind %}
            {% when "inproceedings" %}
            in <span class="publication-list-in">{{ pub.in }}</span>,
            {% when "phdthesis" %}
            Ph.D. thesis, <span class="publication-list-in">{{ pub.institution }}</span>,
            {% endcase %}
            <span class="publication-list-year">{{ pub.year }}</span>.
            <span class="publication-list-link"><a href="downloads/pdf/{{ pub.pdf }}">pdf</a></span>
            <span class="publication-list-abs-tog"><a class="abstract-toggle" href="#abstract-{{ pub.key }}">abstract</a></span>
        </div>
        <div class="publication-abstract" id="abstract-{{ pub.key }}">
            {{ pub.content }}
        </div>
    </li>
{% endfor %}
</ul>

<script type="text/javascript">
    $(".abstract-toggle").click(function() {
        $($(this).attr("href")).toggle();
        return false;
    });
</script>

{% if false %}
vim: tw=72 spell ft=liquid
{% endif %}
