<ul class="publication-list">
{% for paper in site.data.mypapers %}
    <li class="publication-item">
        <div class="publication-line">
            <span class="publication-list-author">{{ paper.author }}</span>,
            "<span class="publication-list-title">{{ paper.title }}</span>,"
            {% case paper.kind %}
            {% when "inproceedings" %}
            in <span class="publication-list-in">{{ paper.in }}</span>,
            {% when "phdthesis" %}
            Ph.D. thesis, <span class="publication-list-in">{{ paper.institution }}</span>,
            {% endcase %}
            <span class="publication-list-year">{{ paper.year }}</span>.
            <span class="publication-list-link"><a href="downloads/pdf/{{ paper.pdf }}">pdf</a></span>
            <span class="publication-list-abs-tog"><a class="abstract-toggle" href="#abstract-{{ paper.key }}">abstract</a></span>
        </div>
        <div class="publication-abstract" id="abstract-{{ paper.key }}">
            {% include abstracts.html key=paper.key %}
        </div>
    </li>
{% endfor %}
</ul>

<script type="text/javascript">
    $(".abstract-toggle").click(function() {
        $($(this).attr("href")).toggle();
        return false;
    });
</script>

{% if false %}
vim: tw=72 spell ft=liquid
{% endif %}
